<h1 class="title">Your Avatar</h1>
<div class="avatars">
    <button (click)="avatarSelect(1)" id="one" class="buttons"></button>
    <button (click)="avatarSelect(2)" id="two" class="buttons"></button>
    <button (click)="avatarSelect(3)" id="thr" class="buttons"></button>
    <button (click)="avatarSelect(4)" id="fou" class="buttons"></button>
</div>
<div class="bu">
<button class="myButton" (click)="Avatarb()">Previous</button>
&nbsp;
<button class="myButton" (click)="Avatar()">Next</button></div>