<div class="custom-select" name="lang">
    <h1 class="title">Language</h1>
    <select style="width: 500px; height: 45px; background-color: gray;">
      <option value="0" disabled selected hidden>Language:</option>
      <option value="1">English</option>
      <option value="2">Hungarian</option>
      <option value="3">German</option>
    </select>
</div>



    
<div class="custom-select2" name="time">
    <h1 class="title">Time Zone</h1>
    <select style="width: 500px; height: 45px; background-color: gray;">
      <option value="0" disabled selected hidden>Time-zone:</option>
      <option value="1">GMT+3</option>
      <option value="2">UTC</option>
      <option value="3">CEST</option>
    </select>
</div>

<button class="myButton" (click)="nextStep()">Fast Registration</button>


