<h1 class="title">Your Gender</h1>
<div class="avatars">
    <button (click)="genderSelect(1)" id="m" class="buttons"></button>
    <button (click)="genderSelect(2)" id="f" class="buttons"></button>
    <pre class="gend">  Male                     Female</pre>
    <button (click)="genderSelect(3)" id="n" class="buttons"></button><div class="gend">Other</div>
</div>
<div class="bu">
<button class="myButton" (click)="Genderb()">Previous</button>
&nbsp;
<button class="myButton" (click)="Gender()">Next</button>
</div>