body {
    position: absolute;
left: 0%;
right: 0%;
top: 6.6%;
bottom: 0%;
margin-left: 30%;
margin-right: 30%;

background: #232323;
border-radius: 6px;
  }
  .myButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #1d53f2;
    cursor:pointer;
    color:#ffffff;
    font-family:Georgia;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    top: 90%;
    left: 57%;
    position: relative;
  }

  .myButtonFast {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #1d53f2;
    cursor:pointer;
    color:#ffffff;
    font-family:Georgia;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    top: 90%;
    left: 55%;
    position: relative;
  }


