<body>
<ng-template [ngIf]="Show > 0"><span class="dot">1</span><h1 class="yes">Name</h1></ng-template>
<ng-template [ngIf]="Show === 0"><span class="dot2">1</span><h1 class="no">Name</h1></ng-template>

<ng-template [ngIf]="Show > 1"><span class="dot">2</span><h1 class="yes">Profile Picture</h1></ng-template>
<ng-template [ngIf]="Show === 1"><span class="dot2">2</span><h1 class="no">Profile Picture</h1></ng-template>


<ng-template [ngIf]="Show > 2"><span class="dot">3</span><h1 class="yes">Incognito Avatar</h1></ng-template>
<ng-template [ngIf]="Show === 2"><span class="dot2">3</span><h1 class="no">Incognito Avatar</h1></ng-template>

<ng-template [ngIf]="Show > 3"><span class="dot">4</span><h1 class="yes">Gender</h1></ng-template>
<ng-template [ngIf]="Show === 3"><span class="dot2">4</span><h1 class="no">Gender</h1></ng-template>

<ng-template [ngIf]="Show > 4"><span class="dot">5</span><h1 class="yes">Birthday</h1></ng-template>
<ng-template [ngIf]="Show === 4"><span class="dot2">5</span><h1 class="no">Birthday</h1></ng-template>

<ng-template [ngIf]="Show > 5"><span class="dot">6</span><h1 class="yes">Contact</h1></ng-template>
<ng-template [ngIf]="Show === 5"><span class="dot2">6</span><h1 class="no">Contact</h1></ng-template>

<ng-template [ngIf]="Show > 6"><span class="dot">7</span><h1 class="yes">Skill</h1></ng-template>
<ng-template [ngIf]="Show === 6"><span class="dot2">7</span><h1 class="no">Skill</h1></ng-template>
<div class="column">aaaaaaaaaaaaaaaaaaaaaaaaa</div>
</body>
