body{
position:absolute;
left: 150%;
bottom: 0%;
background: #232323;
border-radius: 6px;
}
.column{
    width: 100%;
    color: #232323;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

